<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PlatinfoMapper">
  <resultMap id="BaseResultMap" type="com.model.Platinfo">
    <id column="plat_no" jdbcType="VARCHAR" property="platNo" />
    <result column="plat_name" jdbcType="VARCHAR" property="platName" />
    <result column="plat_type" jdbcType="VARCHAR" property="platType" />
    <result column="plat_ip" jdbcType="VARCHAR" property="platIp" />
    <result column="plat_port" jdbcType="VARCHAR" property="platPort" />
    <result column="plat_pwd" jdbcType="VARCHAR" property="platPwd" />
    <result column="company_attr" jdbcType="VARCHAR" property="companyAttr" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_capital" jdbcType="VARCHAR" property="companyCapital" />
    <result column="company_license" jdbcType="VARCHAR" property="companyLicense" />
    <result column="legal_name" jdbcType="VARCHAR" property="legalName" />
    <result column="legal_license_type" jdbcType="VARCHAR" property="legalLicenseType" />
    <result column="legal_license" jdbcType="VARCHAR" property="legalLicense" />
    <result column="tax_license" jdbcType="VARCHAR" property="taxLicense" />
    <result column="tax_number" jdbcType="VARCHAR" property="taxNumber" />
    <result column="org_license" jdbcType="VARCHAR" property="orgLicense" />
    <result column="plat_state" jdbcType="VARCHAR" property="platState" />
    <result column="company_establish_date" jdbcType="DATE" property="companyEstablishDate" />
    <result column="plat_line_date" jdbcType="DATE" property="platLineDate" />
    <result column="plat_address" jdbcType="VARCHAR" property="platAddress" />
    <result column="plat_busi_type" jdbcType="VARCHAR" property="platBusiType" />
    <result column="plat_business" jdbcType="VARCHAR" property="platBusiness" />
    <result column="payment_plat_no" jdbcType="VARCHAR" property="paymentPlatNo" />
    <result column="actual_capital" jdbcType="VARCHAR" property="actualCapital" />
    <result column="plat_domain" jdbcType="VARCHAR" property="platDomain" />
    <result column="info_security" jdbcType="VARCHAR" property="infoSecurity" />
    <result column="check_company" jdbcType="VARCHAR" property="checkCompany" />
    <result column="check_time" jdbcType="VARCHAR" property="checkTime" />
    <result column="gateway_channel" jdbcType="VARCHAR" property="gatewayChannel" />
    <result column="fastway_channel" jdbcType="VARCHAR" property="fastwayChannel" />
  </resultMap>
  <sql id="Base_Column_List">
    plat_no, plat_name, plat_type, plat_ip, plat_port, plat_pwd, company_attr, company_name, 
    company_capital, company_license, legal_name, legal_license_type, legal_license, 
    tax_license, tax_number, org_license, plat_state, company_establish_date, plat_line_date, 
    plat_address, plat_busi_type, plat_business, payment_plat_no, actual_capital, plat_domain, 
    info_security, check_company, check_time, gateway_channel, fastway_channel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from plat_platinfo
    where plat_no = #{platNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from plat_platinfo
    where plat_no = #{platNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.Platinfo">
    insert into plat_platinfo (plat_no, plat_name, plat_type, 
      plat_ip, plat_port, plat_pwd, 
      company_attr, company_name, company_capital, 
      company_license, legal_name, legal_license_type, 
      legal_license, tax_license, tax_number, 
      org_license, plat_state, company_establish_date, 
      plat_line_date, plat_address, plat_busi_type, 
      plat_business, payment_plat_no, actual_capital, 
      plat_domain, info_security, check_company, 
      check_time, gateway_channel, fastway_channel
      )
    values (#{platNo,jdbcType=VARCHAR}, #{platName,jdbcType=VARCHAR}, #{platType,jdbcType=VARCHAR}, 
      #{platIp,jdbcType=VARCHAR}, #{platPort,jdbcType=VARCHAR}, #{platPwd,jdbcType=VARCHAR}, 
      #{companyAttr,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, #{companyCapital,jdbcType=VARCHAR}, 
      #{companyLicense,jdbcType=VARCHAR}, #{legalName,jdbcType=VARCHAR}, #{legalLicenseType,jdbcType=VARCHAR}, 
      #{legalLicense,jdbcType=VARCHAR}, #{taxLicense,jdbcType=VARCHAR}, #{taxNumber,jdbcType=VARCHAR}, 
      #{orgLicense,jdbcType=VARCHAR}, #{platState,jdbcType=VARCHAR}, #{companyEstablishDate,jdbcType=DATE}, 
      #{platLineDate,jdbcType=DATE}, #{platAddress,jdbcType=VARCHAR}, #{platBusiType,jdbcType=VARCHAR}, 
      #{platBusiness,jdbcType=VARCHAR}, #{paymentPlatNo,jdbcType=VARCHAR}, #{actualCapital,jdbcType=VARCHAR}, 
      #{platDomain,jdbcType=VARCHAR}, #{infoSecurity,jdbcType=VARCHAR}, #{checkCompany,jdbcType=VARCHAR}, 
      #{checkTime,jdbcType=VARCHAR}, #{gatewayChannel,jdbcType=VARCHAR}, #{fastwayChannel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.Platinfo">
    insert into plat_platinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="platNo != null">
        plat_no,
      </if>
      <if test="platName != null">
        plat_name,
      </if>
      <if test="platType != null">
        plat_type,
      </if>
      <if test="platIp != null">
        plat_ip,
      </if>
      <if test="platPort != null">
        plat_port,
      </if>
      <if test="platPwd != null">
        plat_pwd,
      </if>
      <if test="companyAttr != null">
        company_attr,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyCapital != null">
        company_capital,
      </if>
      <if test="companyLicense != null">
        company_license,
      </if>
      <if test="legalName != null">
        legal_name,
      </if>
      <if test="legalLicenseType != null">
        legal_license_type,
      </if>
      <if test="legalLicense != null">
        legal_license,
      </if>
      <if test="taxLicense != null">
        tax_license,
      </if>
      <if test="taxNumber != null">
        tax_number,
      </if>
      <if test="orgLicense != null">
        org_license,
      </if>
      <if test="platState != null">
        plat_state,
      </if>
      <if test="companyEstablishDate != null">
        company_establish_date,
      </if>
      <if test="platLineDate != null">
        plat_line_date,
      </if>
      <if test="platAddress != null">
        plat_address,
      </if>
      <if test="platBusiType != null">
        plat_busi_type,
      </if>
      <if test="platBusiness != null">
        plat_business,
      </if>
      <if test="paymentPlatNo != null">
        payment_plat_no,
      </if>
      <if test="actualCapital != null">
        actual_capital,
      </if>
      <if test="platDomain != null">
        plat_domain,
      </if>
      <if test="infoSecurity != null">
        info_security,
      </if>
      <if test="checkCompany != null">
        check_company,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
      <if test="gatewayChannel != null">
        gateway_channel,
      </if>
      <if test="fastwayChannel != null">
        fastway_channel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="platNo != null">
        #{platNo,jdbcType=VARCHAR},
      </if>
      <if test="platName != null">
        #{platName,jdbcType=VARCHAR},
      </if>
      <if test="platType != null">
        #{platType,jdbcType=VARCHAR},
      </if>
      <if test="platIp != null">
        #{platIp,jdbcType=VARCHAR},
      </if>
      <if test="platPort != null">
        #{platPort,jdbcType=VARCHAR},
      </if>
      <if test="platPwd != null">
        #{platPwd,jdbcType=VARCHAR},
      </if>
      <if test="companyAttr != null">
        #{companyAttr,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCapital != null">
        #{companyCapital,jdbcType=VARCHAR},
      </if>
      <if test="companyLicense != null">
        #{companyLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalLicenseType != null">
        #{legalLicenseType,jdbcType=VARCHAR},
      </if>
      <if test="legalLicense != null">
        #{legalLicense,jdbcType=VARCHAR},
      </if>
      <if test="taxLicense != null">
        #{taxLicense,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null">
        #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgLicense != null">
        #{orgLicense,jdbcType=VARCHAR},
      </if>
      <if test="platState != null">
        #{platState,jdbcType=VARCHAR},
      </if>
      <if test="companyEstablishDate != null">
        #{companyEstablishDate,jdbcType=DATE},
      </if>
      <if test="platLineDate != null">
        #{platLineDate,jdbcType=DATE},
      </if>
      <if test="platAddress != null">
        #{platAddress,jdbcType=VARCHAR},
      </if>
      <if test="platBusiType != null">
        #{platBusiType,jdbcType=VARCHAR},
      </if>
      <if test="platBusiness != null">
        #{platBusiness,jdbcType=VARCHAR},
      </if>
      <if test="paymentPlatNo != null">
        #{paymentPlatNo,jdbcType=VARCHAR},
      </if>
      <if test="actualCapital != null">
        #{actualCapital,jdbcType=VARCHAR},
      </if>
      <if test="platDomain != null">
        #{platDomain,jdbcType=VARCHAR},
      </if>
      <if test="infoSecurity != null">
        #{infoSecurity,jdbcType=VARCHAR},
      </if>
      <if test="checkCompany != null">
        #{checkCompany,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=VARCHAR},
      </if>
      <if test="gatewayChannel != null">
        #{gatewayChannel,jdbcType=VARCHAR},
      </if>
      <if test="fastwayChannel != null">
        #{fastwayChannel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Platinfo">
    update plat_platinfo
    <set>
      <if test="platName != null">
        plat_name = #{platName,jdbcType=VARCHAR},
      </if>
      <if test="platType != null">
        plat_type = #{platType,jdbcType=VARCHAR},
      </if>
      <if test="platIp != null">
        plat_ip = #{platIp,jdbcType=VARCHAR},
      </if>
      <if test="platPort != null">
        plat_port = #{platPort,jdbcType=VARCHAR},
      </if>
      <if test="platPwd != null">
        plat_pwd = #{platPwd,jdbcType=VARCHAR},
      </if>
      <if test="companyAttr != null">
        company_attr = #{companyAttr,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyCapital != null">
        company_capital = #{companyCapital,jdbcType=VARCHAR},
      </if>
      <if test="companyLicense != null">
        company_license = #{companyLicense,jdbcType=VARCHAR},
      </if>
      <if test="legalName != null">
        legal_name = #{legalName,jdbcType=VARCHAR},
      </if>
      <if test="legalLicenseType != null">
        legal_license_type = #{legalLicenseType,jdbcType=VARCHAR},
      </if>
      <if test="legalLicense != null">
        legal_license = #{legalLicense,jdbcType=VARCHAR},
      </if>
      <if test="taxLicense != null">
        tax_license = #{taxLicense,jdbcType=VARCHAR},
      </if>
      <if test="taxNumber != null">
        tax_number = #{taxNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgLicense != null">
        org_license = #{orgLicense,jdbcType=VARCHAR},
      </if>
      <if test="platState != null">
        plat_state = #{platState,jdbcType=VARCHAR},
      </if>
      <if test="companyEstablishDate != null">
        company_establish_date = #{companyEstablishDate,jdbcType=DATE},
      </if>
      <if test="platLineDate != null">
        plat_line_date = #{platLineDate,jdbcType=DATE},
      </if>
      <if test="platAddress != null">
        plat_address = #{platAddress,jdbcType=VARCHAR},
      </if>
      <if test="platBusiType != null">
        plat_busi_type = #{platBusiType,jdbcType=VARCHAR},
      </if>
      <if test="platBusiness != null">
        plat_business = #{platBusiness,jdbcType=VARCHAR},
      </if>
      <if test="paymentPlatNo != null">
        payment_plat_no = #{paymentPlatNo,jdbcType=VARCHAR},
      </if>
      <if test="actualCapital != null">
        actual_capital = #{actualCapital,jdbcType=VARCHAR},
      </if>
      <if test="platDomain != null">
        plat_domain = #{platDomain,jdbcType=VARCHAR},
      </if>
      <if test="infoSecurity != null">
        info_security = #{infoSecurity,jdbcType=VARCHAR},
      </if>
      <if test="checkCompany != null">
        check_company = #{checkCompany,jdbcType=VARCHAR},
      </if>
      <if test="checkTime != null">
        check_time = #{checkTime,jdbcType=VARCHAR},
      </if>
      <if test="gatewayChannel != null">
        gateway_channel = #{gatewayChannel,jdbcType=VARCHAR},
      </if>
      <if test="fastwayChannel != null">
        fastway_channel = #{fastwayChannel,jdbcType=VARCHAR},
      </if>
    </set>
    where plat_no = #{platNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Platinfo">
    update plat_platinfo
    set plat_name = #{platName,jdbcType=VARCHAR},
      plat_type = #{platType,jdbcType=VARCHAR},
      plat_ip = #{platIp,jdbcType=VARCHAR},
      plat_port = #{platPort,jdbcType=VARCHAR},
      plat_pwd = #{platPwd,jdbcType=VARCHAR},
      company_attr = #{companyAttr,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_capital = #{companyCapital,jdbcType=VARCHAR},
      company_license = #{companyLicense,jdbcType=VARCHAR},
      legal_name = #{legalName,jdbcType=VARCHAR},
      legal_license_type = #{legalLicenseType,jdbcType=VARCHAR},
      legal_license = #{legalLicense,jdbcType=VARCHAR},
      tax_license = #{taxLicense,jdbcType=VARCHAR},
      tax_number = #{taxNumber,jdbcType=VARCHAR},
      org_license = #{orgLicense,jdbcType=VARCHAR},
      plat_state = #{platState,jdbcType=VARCHAR},
      company_establish_date = #{companyEstablishDate,jdbcType=DATE},
      plat_line_date = #{platLineDate,jdbcType=DATE},
      plat_address = #{platAddress,jdbcType=VARCHAR},
      plat_busi_type = #{platBusiType,jdbcType=VARCHAR},
      plat_business = #{platBusiness,jdbcType=VARCHAR},
      payment_plat_no = #{paymentPlatNo,jdbcType=VARCHAR},
      actual_capital = #{actualCapital,jdbcType=VARCHAR},
      plat_domain = #{platDomain,jdbcType=VARCHAR},
      info_security = #{infoSecurity,jdbcType=VARCHAR},
      check_company = #{checkCompany,jdbcType=VARCHAR},
      check_time = #{checkTime,jdbcType=VARCHAR},
      gateway_channel = #{gatewayChannel,jdbcType=VARCHAR},
      fastway_channel = #{fastwayChannel,jdbcType=VARCHAR}
    where plat_no = #{platNo,jdbcType=VARCHAR}
  </update>
 
</mapper>