<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AccountEntityMapper" >
  <resultMap id="BaseResultMap" type="com.model.AccountEntity" >
    <id column="plat_no" property="platNo" jdbcType="VARCHAR" />
    <id column="account" property="account" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="account_type" property="accountType" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="related_account_bank" property="relatedAccountBank" jdbcType="VARCHAR" />
    <result column="related_account" property="relatedAccount" jdbcType="VARCHAR" />
    <result column="t_balance" property="tBalance" jdbcType="DECIMAL" />
    <result column="n_balance" property="nBalance" jdbcType="DECIMAL" />
    <result column="f_balance" property="fBalance" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    plat_no, account, status, account_type, account_name, related_account_bank, related_account, 
    t_balance, n_balance, f_balance
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.model.AccountEntityKey" >
    select 
    <include refid="Base_Column_List" />
    from account_info
    where plat_no = #{platNo,jdbcType=VARCHAR}
      and account = #{account,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.model.AccountEntityKey" >
    delete from account_info
    where plat_no = #{platNo,jdbcType=VARCHAR}
      and account = #{account,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.AccountEntity" >
    insert into account_info (plat_no, account, status, 
      account_type, account_name, related_account_bank, 
      related_account, t_balance, n_balance, 
      f_balance)
    values (#{platNo,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{accountType,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, #{relatedAccountBank,jdbcType=VARCHAR}, 
      #{relatedAccount,jdbcType=VARCHAR}, #{tBalance,jdbcType=DECIMAL}, #{nBalance,jdbcType=DECIMAL}, 
      #{fBalance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.model.AccountEntity" >
    insert into account_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="platNo != null" >
        plat_no,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="relatedAccountBank != null" >
        related_account_bank,
      </if>
      <if test="relatedAccount != null" >
        related_account,
      </if>
      <if test="tBalance != null" >
        t_balance,
      </if>
      <if test="nBalance != null" >
        n_balance,
      </if>
      <if test="fBalance != null" >
        f_balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="platNo != null" >
        #{platNo,jdbcType=VARCHAR},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="relatedAccountBank != null" >
        #{relatedAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="relatedAccount != null" >
        #{relatedAccount,jdbcType=VARCHAR},
      </if>
      <if test="tBalance != null" >
        #{tBalance,jdbcType=DECIMAL},
      </if>
      <if test="nBalance != null" >
        #{nBalance,jdbcType=DECIMAL},
      </if>
      <if test="fBalance != null" >
        #{fBalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.AccountEntity" >
    update account_info
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="relatedAccountBank != null" >
        related_account_bank = #{relatedAccountBank,jdbcType=VARCHAR},
      </if>
      <if test="relatedAccount != null" >
        related_account = #{relatedAccount,jdbcType=VARCHAR},
      </if>
      <if test="tBalance != null" >
        t_balance = #{tBalance,jdbcType=DECIMAL},
      </if>
      <if test="nBalance != null" >
        n_balance = #{nBalance,jdbcType=DECIMAL},
      </if>
      <if test="fBalance != null" >
        f_balance = #{fBalance,jdbcType=DECIMAL},
      </if>
    </set>
    where plat_no = #{platNo,jdbcType=VARCHAR}
      and account = #{account,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.AccountEntity" >
    update account_info
    set status = #{status,jdbcType=VARCHAR},
      account_type = #{accountType,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      related_account_bank = #{relatedAccountBank,jdbcType=VARCHAR},
      related_account = #{relatedAccount,jdbcType=VARCHAR},
      t_balance = #{tBalance,jdbcType=DECIMAL},
      n_balance = #{nBalance,jdbcType=DECIMAL},
      f_balance = #{fBalance,jdbcType=DECIMAL}
    where plat_no = #{platNo,jdbcType=VARCHAR}
      and account = #{account,jdbcType=VARCHAR}
  </update>
</mapper>