<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CategoryTmpMapper" >
  <resultMap id="BaseResultMap" type="com.model.CategoryTmp" >
    <id column="source_id" property="sourceId" jdbcType="INTEGER" />
    <result column="first_category" property="firstCategory" jdbcType="VARCHAR" />
    <result column="second_category" property="secondCategory" jdbcType="VARCHAR" />
    <result column="third_category" property="thirdCategory" jdbcType="VARCHAR" />
    <result column="fourth_category" property="fourthCategory" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="property_type" property="propertyType" jdbcType="INTEGER" />
    <result column="second_category_id" property="secondCategoryId" jdbcType="INTEGER" />
    <result column="third_category_id" property="thirdCategoryId" jdbcType="INTEGER" />
    <result column="second_category_path" property="secondCategoryPath" jdbcType="VARCHAR" />
    <result column="third_category_path" property="thirdCategoryPath" jdbcType="VARCHAR" />
    <result column="leaf_category_id" property="leafCategoryId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    source_id, first_category, second_category, third_category, fourth_category, property, 
    property_type, second_category_id, third_category_id, second_category_path, third_category_path, 
    leaf_category_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category_tmp
    where source_id = #{sourceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category_tmp
    where source_id = #{sourceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.CategoryTmp" >
    insert into category_tmp (source_id, first_category, second_category, 
      third_category, fourth_category, property, 
      property_type, second_category_id, third_category_id, 
      second_category_path, third_category_path, 
      leaf_category_id)
    values (#{sourceId,jdbcType=INTEGER}, #{firstCategory,jdbcType=VARCHAR}, #{secondCategory,jdbcType=VARCHAR}, 
      #{thirdCategory,jdbcType=VARCHAR}, #{fourthCategory,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}, 
      #{propertyType,jdbcType=INTEGER}, #{secondCategoryId,jdbcType=INTEGER}, #{thirdCategoryId,jdbcType=INTEGER}, 
      #{secondCategoryPath,jdbcType=VARCHAR}, #{thirdCategoryPath,jdbcType=VARCHAR}, 
      #{leafCategoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.model.CategoryTmp" >
    insert into category_tmp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sourceId != null" >
        source_id,
      </if>
      <if test="firstCategory != null" >
        first_category,
      </if>
      <if test="secondCategory != null" >
        second_category,
      </if>
      <if test="thirdCategory != null" >
        third_category,
      </if>
      <if test="fourthCategory != null" >
        fourth_category,
      </if>
      <if test="property != null" >
        property,
      </if>
      <if test="propertyType != null" >
        property_type,
      </if>
      <if test="secondCategoryId != null" >
        second_category_id,
      </if>
      <if test="thirdCategoryId != null" >
        third_category_id,
      </if>
      <if test="secondCategoryPath != null" >
        second_category_path,
      </if>
      <if test="thirdCategoryPath != null" >
        third_category_path,
      </if>
      <if test="leafCategoryId != null" >
        leaf_category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sourceId != null" >
        #{sourceId,jdbcType=INTEGER},
      </if>
      <if test="firstCategory != null" >
        #{firstCategory,jdbcType=VARCHAR},
      </if>
      <if test="secondCategory != null" >
        #{secondCategory,jdbcType=VARCHAR},
      </if>
      <if test="thirdCategory != null" >
        #{thirdCategory,jdbcType=VARCHAR},
      </if>
      <if test="fourthCategory != null" >
        #{fourthCategory,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null" >
        #{propertyType,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryId != null" >
        #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null" >
        #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryPath != null" >
        #{secondCategoryPath,jdbcType=VARCHAR},
      </if>
      <if test="thirdCategoryPath != null" >
        #{thirdCategoryPath,jdbcType=VARCHAR},
      </if>
      <if test="leafCategoryId != null" >
        #{leafCategoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.CategoryTmp" >
    update category_tmp
    <set >
      <if test="firstCategory != null" >
        first_category = #{firstCategory,jdbcType=VARCHAR},
      </if>
      <if test="secondCategory != null" >
        second_category = #{secondCategory,jdbcType=VARCHAR},
      </if>
      <if test="thirdCategory != null" >
        third_category = #{thirdCategory,jdbcType=VARCHAR},
      </if>
      <if test="fourthCategory != null" >
        fourth_category = #{fourthCategory,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
      <if test="propertyType != null" >
        property_type = #{propertyType,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryId != null" >
        second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="thirdCategoryId != null" >
        third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryPath != null" >
        second_category_path = #{secondCategoryPath,jdbcType=VARCHAR},
      </if>
      <if test="thirdCategoryPath != null" >
        third_category_path = #{thirdCategoryPath,jdbcType=VARCHAR},
      </if>
      <if test="leafCategoryId != null" >
        leaf_category_id = #{leafCategoryId,jdbcType=INTEGER},
      </if>
    </set>
    where source_id = #{sourceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.CategoryTmp" >
    update category_tmp
    set first_category = #{firstCategory,jdbcType=VARCHAR},
      second_category = #{secondCategory,jdbcType=VARCHAR},
      third_category = #{thirdCategory,jdbcType=VARCHAR},
      fourth_category = #{fourthCategory,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR},
      property_type = #{propertyType,jdbcType=INTEGER},
      second_category_id = #{secondCategoryId,jdbcType=INTEGER},
      third_category_id = #{thirdCategoryId,jdbcType=INTEGER},
      second_category_path = #{secondCategoryPath,jdbcType=VARCHAR},
      third_category_path = #{thirdCategoryPath,jdbcType=VARCHAR},
      leaf_category_id = #{leafCategoryId,jdbcType=INTEGER}
    where source_id = #{sourceId,jdbcType=INTEGER}
  </update>
</mapper>