<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.PropertyNameMapper">
  <resultMap id="BaseResultMap" type="com.model.PropertyName">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_key_property" jdbcType="TINYINT" property="isKeyProperty" />
    <result column="is_sell_property" jdbcType="TINYINT" property="isSellProperty" />
    <result column="is_goods_property" jdbcType="TINYINT" property="isGoodsProperty" />
    <result column="input_type" jdbcType="TINYINT" property="inputType" />
    <result column="modify_type" jdbcType="TINYINT" property="modifyType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, is_key_property, is_sell_property, is_goods_property, input_type, modify_type, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from property_name
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectPropertyNameByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from property_name
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from property_name
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.PropertyName">
    insert into property_name (id, name, is_key_property, 
      is_sell_property, is_goods_property, input_type, 
      modify_type, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{isKeyProperty,jdbcType=TINYINT}, 
      #{isSellProperty,jdbcType=TINYINT}, #{isGoodsProperty,jdbcType=TINYINT}, #{inputType,jdbcType=TINYINT}, 
      #{modifyType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.PropertyName"  keyProperty="id" useGeneratedKeys="true" >
    insert into property_name
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="isKeyProperty != null">
        is_key_property,
      </if>
      <if test="isSellProperty != null">
        is_sell_property,
      </if>
      <if test="isGoodsProperty != null">
        is_goods_property,
      </if>
      <if test="inputType != null">
        input_type,
      </if>
      <if test="modifyType != null">
        modify_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isKeyProperty != null">
        #{isKeyProperty,jdbcType=TINYINT},
      </if>
      <if test="isSellProperty != null">
        #{isSellProperty,jdbcType=TINYINT},
      </if>
      <if test="isGoodsProperty != null">
        #{isGoodsProperty,jdbcType=TINYINT},
      </if>
      <if test="inputType != null">
        #{inputType,jdbcType=TINYINT},
      </if>
      <if test="modifyType != null">
        #{modifyType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.PropertyName">
    update property_name
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isKeyProperty != null">
        is_key_property = #{isKeyProperty,jdbcType=TINYINT},
      </if>
      <if test="isSellProperty != null">
        is_sell_property = #{isSellProperty,jdbcType=TINYINT},
      </if>
      <if test="isGoodsProperty != null">
        is_goods_property = #{isGoodsProperty,jdbcType=TINYINT},
      </if>
      <if test="inputType != null">
        input_type = #{inputType,jdbcType=TINYINT},
      </if>
      <if test="modifyType != null">
        modify_type = #{modifyType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.PropertyName">
    update property_name
    set name = #{name,jdbcType=VARCHAR},
      is_key_property = #{isKeyProperty,jdbcType=TINYINT},
      is_sell_property = #{isSellProperty,jdbcType=TINYINT},
      is_goods_property = #{isGoodsProperty,jdbcType=TINYINT},
      input_type = #{inputType,jdbcType=TINYINT},
      modify_type = #{modifyType,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>