<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.PropertyPairMapper" >
  <resultMap id="BaseResultMap" type="com.model.PropertyPair" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="property_name_id" property="propertyNameId" jdbcType="INTEGER" />
    <result column="property_value_id" property="propertyValueId" jdbcType="INTEGER" />
    <result column="order" property="order" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, property_name_id, property_value_id, `order`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from property_pair
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectMaxOrderByName" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    SELECT IFNULL(max(`order`),0) AS max_order from property_pair
    where property_name_id = #{property_name_id,jdbcType=INTEGER}
  </select>


  <select id="selectByCondition" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from property_pair
    where property_name_id = #{property_name_id,jdbcType=INTEGER} and property_value_id = #{property_value_id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from property_pair
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.PropertyPair" >
    insert into property_pair (id, property_name_id, property_value_id, 
      `order`, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{propertyNameId,jdbcType=INTEGER}, #{propertyValueId,jdbcType=INTEGER}, 
      #{order,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.PropertyPair"  keyProperty="id" useGeneratedKeys="true" >
    insert into property_pair
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="propertyNameId != null" >
        property_name_id,
      </if>
      <if test="propertyValueId != null" >
        property_value_id,
      </if>
      <if test="order != null" >
        `order`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="propertyNameId != null" >
        #{propertyNameId,jdbcType=INTEGER},
      </if>
      <if test="propertyValueId != null" >
        #{propertyValueId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        #{order,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.PropertyPair" >
    update property_pair
    <set >
      <if test="propertyNameId != null" >
        property_name_id = #{propertyNameId,jdbcType=INTEGER},
      </if>
      <if test="propertyValueId != null" >
        property_value_id = #{propertyValueId,jdbcType=INTEGER},
      </if>
      <if test="order != null" >
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.PropertyPair" >
    update property_pair
    set property_name_id = #{propertyNameId,jdbcType=INTEGER},
      property_value_id = #{propertyValueId,jdbcType=INTEGER},
      `order` = #{order,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>